@import url('https://fonts.googleapis.com/css?family=Lobster');
$main-font: 'Lobster',
cursive;
$navbar-offset: 20vh;

body {
    width: 100%;
    margin: 0;
}

header {
    min-height: 10vh;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: hsla(360, 100%, 100%, 0.84);
    overflow: auto;

    .logo {
        width: 60%;

        @media screen and (max-width: 1127px) {
            width: 40%
        }

        @media screen and (max-width: 745px) {
            width: 10%
        }

        img {
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            max-width: 10vw;
        }
    }

    #nav-bar {

        ul {
            list-style: none;
            display: flex;
            width: 100%;
            justify-content: space-around;

            li {
                padding: 1.5rem;

                &:hover {
                    -webkit-box-shadow: inset 0px 0px 23px -4px rgba(4, 17, 20, 1);
                    -moz-box-shadow: inset 0px 0px 23px -4px rgba(4, 17, 20, 1);
                    box-shadow: inset 0px 0px 23px -4px rgba(4, 17, 20, 1);
                }

            }

            a {
                color: black;
                text-decoration: none;


                &:visited {
                    text-decoration: none;
                }


            }
        }
    }

}

#main {
    background: url('../../assets/svg/deep-blue.svg');
    height: 100vh;
    display: flex;
    justify-content: center;

    .main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 5rem;
            color: rgba(255, 123, 0, 1);
            font-family: $main-font;
        }

        form {
            display: flex;
            justify-content: space-around;

            input[type="email"] {
                width: 60%;
            }
        }
    }
}

.container {
    margin-top: $navbar-offset - 5;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;

    .feature {
        text-align: center;
    }
}

.waves {
    height: 34vh;
    background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0,
        radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0,
        radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255, 255, 255, 0) 0) 55px 0 #48B;
    background-size: 110px 200px;
    background-repeat: repeat-x;
}

#features {
    height: 100vh;

    h1 {
        padding-top: $navbar-offset;
        display: block;
        text-align: center;
        font-family: $main-font;
        font-size: 5rem;
    }


}

#how-it-works {
    height: 65vh;

    h1 {
        padding-top: $navbar-offset;
        display: block;
        text-align: center;
        font-family: $main-font;
        font-size: 5rem;
    }

}

footer {
    margin-top: 5rem;
}